.App {
    text-align: center;
  }
  
  .panelContent {
    overflow: auto;
    position: 'relative';
  
  }
  
  .panelHeader {
    background: green;
    height: 30px;
    overflow: auto;
  }
  
  .panelButtonMenu {
    padding: 5px 0px;
  }
  
  .panelDivider {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
  
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }
  
  .panelDivider.vertical {
    cursor: ew-resize;
  }
  
  .panelDivider.horizontal {
    cursor: ns-resize;
  }
  
  .panelDivider:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .layout {
    margin: auto;
    margin-top: 20px;
  
    border-style: solid;
    border-width: 1px;
  }